doctype html
html
  include common/_head
  
  body
    h1 四郎
    h2 Lv.4
    
    h3 SPECIAL & PARK
    table#park
      thead
        - var special = ["Strength", "Perception", "Endurance", "Charisma", "Intelligence", "Agility", "Luck"]
          //- tr
          for val in special
            th(id=val class="special " + val) #{val}
      tbody
        - for (var rank = 1; rank <= 10; rank++)
          tr
          for val in special
            th(class="park " + val rank=rank) #{val} #{rank}
          
       
    
  script(src="/docs/tags/common.js")
  script(src="/docs/js/mount.js")
  script(src="/docs/js/test.js")
